<span>|</span> 
<%= link_to 'Nuevo Articulo', new_articulo_path, :id => 'nuevo_articulo' %>
<h1>Mostrando articulos</h1>
<hr />

<div class="form_articulo" style="display:none;">
  <h2>Nuevo Art&iacute;culo</h2>
  <%= render :partial => 'form', :locals => { :is_remote => true } %>
  <%= link_to 'Back', articulos_path, :id => 'back_articulo' %>
  <hr />
</div>

<%= render :partial => "articulo", :collection => @articulos %>

